<form class="form-horizontal form-complex">

    <div class="control-group">
        <label class="control-label" for="rocketchat_title">Title</label>

        <div class="controls">
            <input type="text" name="action.rocketchat_alert_action.param.title" id="rocketchat_title"/>
            <span class="help-block">Alert title. (Use <i>$result.FIELD_NAME$</i> to send field values.)</span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="rocketchat_message">Message</label>

        <div class="controls">
            <input type="text" name="action.rocketchat_alert_action.param.message" id="rocketchat_message" placeholder="" />
            <span class="help-block">Message that will be sent to Rocketchat. (Use <i>$result.FIELD_NAME$</i> to send field values.)</span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="rocketchat_bot">Bot login</label>

        <div class="controls">
            <input type="text" name="action.rocketchat_alert_action.param.bot_login" id="rocketchat_bot" placeholder="" />
            <span class="help-block">Account of the bot.</span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="rocketchat_bot">Bot password</label>

        <div class="controls">
            <input type="password" name="action.rocketchat_alert_action.param.bot_password" id="rocketchat_bot" placeholder="" />
            <span class="help-block"></span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="rocketchat_bot">Bot alias</label>

        <div class="controls">
            <input type="text" name="action.rocketchat_alert_action.param.bot_alias" id="rocketchat_bot" placeholder="" />
            <span class="help-block">Alias name of the bot.</span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="rocketchat_bot">Rocketchat url</label>

        <div class="controls">
            <input type="text" name="action.rocketchat_alert_action.param.rocketchat_url" id="rocketchat_bot" placeholder="" />
            <span class="help-block">Url of rocketchat instance.</span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="rocketchat_bot">Rocketchat channel</label>

        <div class="controls">
            <input type="text" name="action.rocketchat_alert_action.param.rocketchat_channel" id="rocketchat_bot" placeholder="" />
            <span class="help-block">Channel where messages will be published.</span>
        </div>
    </div>

    <div>
        <div class="control-group">
                <label class="control-label" for="display_raw">Display raw</label>
        <div class="controls">
                        <input type="checkbox" name="action.rocketchat_alert_action.param.display_raw" id="rocketchat_bot" placeholder="" value="1" />
           <span class="help-block">Display raw result (can be verbose !).</span>

        </div>
    </div>

    <div>
        <div class="control-group">
                <label class="control-label" for="rocketchat_result">Link to Results</label>
        <div class="controls">
                        <input type="checkbox" name="action.rocketchat_alert_action.param.result_link" id="rocketchat_bot" placeholder="" value="1"/>
           <span class="help-block">Include the link to the result in the botton of the message.</span>

        </div>
    </div>


</form>
